<div class="about usage">
    <center><h2>
<a href="/about">서비스 소개</a> | <a href="/about/news">새 소식</a> | 사용 안내 | <a href="/about/faq">자주 묻는 질문</a> | <a href="/about/stats">통계</a> | <a href="/about/privacy">개인 정보 보호</a>
</h2></center>

    <p>이 페이지에는 다양한 OpenPGP 소프트웨어에서 <span class="brand">keys.openpgp.org</span> 서비스를 사용하는 방법을 다룹니다.<br>이 페이지의 내용은 끊임없이 보충될 예정입니다. 뭔가 부족하다 싶은 게 있으면 알려주세요! 추가하도록 노력하겠습니다.</p>

    <h2>
        <div><img src="/assets/img/enigmail.svg"></div>
        Enigmail
    </h2>
    <p>Thunderbird용 <a href="https://enigmail.net" target="_blank">Enigmail</a>은 버전 2.0.12부터 <span class="brand">keys.openpgp.org</span> 서비스를 기본으로 사용하고 있습니다.</p>
    <p>(<a href="https://www.thunderbird.net/en-US/thunderbird/68.0beta/releasenotes/" target="_blank">Thunderbird 68</a> 또는 그 이후 버전을 위한) Enigmail 2.1부터 다음과 같은 기능이 완벽 지원됩니다:</p>
<ul>
<li>키 정보가 자동으로 항상 최신으로 유지됩니다.</li>
            <li>키 생성 과정에서 키 올리기와 인증을 동시에 할 수 있습니다.</li>
            <li>전자 메일 주소로 키 찾기를 지원합니다.</li>
        </ul>
<h2>
        <div><img src="/assets/img/gpgtools.png"></div>
        GPG Suite
    </h2>
    <p>macOS용 <a href="https://gpgtools.org/">GPG Suite</a>는 2019년 8월부터 <span class="brand">keys.openpgp.org</span> 서비스를 기본으로 사용합니다.</p>

    <h2>
        <div><img src="/assets/img/openkeychain.svg"></div>
        OpenKeychain
    </h2>
    <p>Android용 <a href="https://www.openkeychain.org/">OpenKeychain</a>은 2019년 7월부터 <span class="brand">keys.openpgp.org</span> 서비스를 기본으로 사용합니다.</p>
<ul>
<li>키 정보가 자동으로 항상 최신으로 유지됩니다.</li>
            <li>전자 메일 주소로 키 찾기를 지원합니다.</li>
        </ul>
<p>아직 앱 내에서 키 올리기와 전자 메일 주소 인증을 지원하지 않음을 유의하세요.</p>

    <h2>
        <div><img src="/assets/img/pignus.png"></div>
        Pignus
    </h2>
    <p>iOS용 <a href="https://www.frobese.de/pignus/">Pignus</a>는 2019년 11월부터 <span class="brand">keys.openpgp.org</span> 서비스를 기본으로 사용합니다.</p>
<ul>
<li>언제 어디서든 내 키 올리기가 가능합니다.</li>
            <li>전자 메일 주소로 키 찾기를 지원합니다.</li>
        </ul>
<h2>
        <div><img src="/assets/img/gnupg.svg"></div>
        GnuPG
    </h2>

    <p><a href="https://gnupg.org">GnuPG</a>가 <span class="brand">keys.openpgp.org</span> 서비스를 키서버로 사용하게끔 설정하려면 아래 한 줄을 <tt>gpg.conf</tt> 파일에 추가하세요:</p>
<blockquote>keyserver hkps://keys.openpgp.org</blockquote>
    

    <h4 id="gnupg-retrieve"><a href="#gnupg-retrieve">키 받아오기</a></h4>
    <ul>
<li>누군가의 키를 전자 메일 주소로 찾아 받아오려면 다음 명령을 실행하세요:<blockquote>gpg --auto-key-locate keyserver --locate-keys user@example.net</blockquote>
        </li>
        <li>현재 알고있는 모든 키에 대한 최신 정보(새 폐기 인증서라든가 새 서브키라든가)를 가져오려면 다음 명령을 실행하세요:<blockquote>gpg --refresh-keys</blockquote>
        </li>
    </ul>
<h4 id="gnupg-upload"><a href="#gnupg-upload">내 키 올리기</a></h4>
    <p>GnuPG의 <tt>--send-keys</tt> 명령으로 키를 올릴 수 있습니다만, 동시에 명의 정보 인증을 진행하지는 못합니다. 즉, 이렇게 올린 키는 전자 메일 주소로 찾을 수 없습니다. (<a href="/about">이게 뭘 뜻하나요?</a>)</p>

    <ul>
<li>다음 명령으로 키를 올리고 동시에 인증 페이지로의 직접 링크를 받아오는 것까지 한 번에 해결하는 것은 가능합니다:<blockquote>gpg --export your_address@example.net | curl -T - {{ base_uri }}</blockquote>
        </li>
        <li>아니면 키를 파일로 내보낸 다음 직접 <a href="/upload" target="_blank">올리기</a> 페이지에서 불러올 수도 있어요:<blockquote>gpg --export your_address@example.net &gt; my_key.pub</blockquote>
        </li>
    </ul>
<h4 id="gnupg-troubleshooting"><a href="#gnupg-troubleshooting">문제 해결</a></h4>
    <ul>
<li>오래된 <tt>~/gnupg/dirmngr.conf</tt> 파일은 간혹 다음과 같은 한 줄을 포함하기도 합니다:<blockquote>hkp-cacert ~/.gnupg/sks-keyservers.netCA.pem</blockquote>
            <p>이 설정은 이젠 필요 없습니다. 오히려 정상적인 인증서를 방해할 뿐이죠. 해당 한 줄을 지우는 걸 권장합니다.</p>
        </li>
        <li>키 갱신 과정에서 다음과 같은 오류를 접할 수도 있습니다:<blockquote>gpg: key A2604867523C7ED8: no user ID</blockquote>
            이건 <a href="https://dev.gnupg.org/T4393" target="_blank">이미 보고된 GnuPG 자체의 문제</a>입니다. GnuPG 팀과 함께 문제 해결을 위해 노력 중이에요.
        </li>
    </ul>
<h4 id="gnupg-tor"><a href="#gnupg-tor">Tor를 통해 사용하기</a></h4>
    <p>더 조심스러운 접근이 필요하다면 <a href="https://support.torproject.org/onionservices/#onionservices-2" target="_blank">Onion 서비스</a>를 거쳐 <span class="brand">keys.openpgp.org</span> 서비스에 익명으로 접속할 수도 있습니다. <a href="https://www.torproject.org/" target="_blank">Tor</a> 설치가 이미 돼 있다면 다음 설정을 사용하세요:</p>
<blockquote>keyserver hkp://zkaan2xfbuxia2wpf7ofnkbz6r5zdbbvxbunvp5g2iebopbfc4iqmbad.onion</blockquote>
    

    <h2 style="padding-left: 3%;" id="wkd-as-a-service"><a style="color: #050505;" href="#wkd-as-a-service">서비스로의 WKD</a></h2>

    <p>Web Key Directory(WKD)는 전자 메일 서비스 제공자의 도메인을 통해 전자 메일 주소만 가지고 OpenPGP 키를 찾아올 수 있게 하는 표준 기술입니다. <a href="https://www.gpg4win.de/about.html" target="_blank">GpgOL</a>을 위시한 일부 전자 메일 클라이언트는 기존에 알려지지 않은 키를 WKD로 찾도록 지원합니다.</p>
<p><span class="brand">keys.openpgp.org</span>는 임의의 도메인에 대해서 WKD 서비스를 위임받아 제공할 수 있습니다. 단순히 <tt>openpgpkey</tt> 서브 도메인에 대한 <tt>CNAME</tt> 레코드를 <tt>wkd.keys.openpgp.org</tt> 주소를 가리키도록 설정해두면 됩니다. 어느 DNS 호스팅이든 웹 인터페이스를 통해 충분히 설정할 수 있을 걸요.</p>
<p>일단 해당 도메인에 대해 설정이 완료되면, 기존에 인증된 전자 메일 주소는 WKD를 통해 얼마든지 찾을 수 있습니다.</p>
<p><tt>CNAME</tt> 레코드가 다음과 같이 보이면 성공입니다:</p>
<blockquote>$ drill openpgpkey.example.org<br>
        ...<br>
        openpgpkey.example.org.       300     IN      CNAME   wkd.keys.openpgp.org.</blockquote>

    <p>다음과 같이 WKD 설정 상태 점검을 간단하게 할 수도 있습니다:</p>
<blockquote>$ curl 'https://wkd.keys.openpgp.org/status/?domain=openpgpkey.example.org'<br>
        CNAME lookup ok: openpgpkey.example.org resolves to wkd.keys.openpgp.org<br>
</blockquote>

    <p>키 받아오기를 테스트하려면 다음 명령을 실행하세요:</p>
<blockquote>$ gpg  --locate-keys --auto-key-locate clear,nodefault,wkd address@example.org<br>
</blockquote>

    <h2 style="margin-left: 3%;">API</h2>

    <p>OpenPGP 응용 프로그램에 기능 통합 지원을 위한 API도 제공 중입니다. <a href="/about/api">API 문서</a>를 확인해보세요.</p>

    <h2 style="margin-left: 3%;">기타 사항</h2>

    <p>여러분이 애용하는 구현체에 대한 사용 안내가 없나요? 이 사이트는 아직 미완성이고 계속해서 개선 중임을 기억해주세요. 혹시라도 도움 주실 생각이라면 언제든 <span class="email">support 골뱅이 keys 닷 openpgp 닷 org</span>로 연락주세요!</p>

</div>
