<div class="about">
    <center><h2>‫حول | <a href="/about/news">اﻷخبار</a> | <a href="/about/usage">الاستخدام</a> | <a href="/about/faq">اﻷسئلة الشائعة</a> | <a href="/about/stats">اﻹحصاءات</a> | <a href="/about/privacy">حماية البيانات‬</a>
</h2></center>

    <h2 id="2019-11-12-celebrating-100k">
      <div style="float: right; font-size: small; line-height: 2em;">2019-11-12 📅</div>
      ‫<a style="color: black;" href="/about/news#2019-11-12-celebrating-100k">نحتفل بتحقُّقنا من ‪100‎ 000‬ عنوان ! 📈</a>‬
    </h2>

    <p>منذ خمسة شهور، قمنا بتشغيل هذه الخدمة. لقد وصلنا اليوم إلى مرحلة متقدمة :‏</p>
<center style="margin-top: 2em; margin-bottom: 2em;">
<img src="/assets/img/stats-addresses-2019-11-12.png" style="padding: 1px; border: 1px solid gray;"><br><strong>تحققنا من مائة ألف عنوان للبريد اﻹلكتروني !‏</strong>
</center>

    <p>إننا نتقدم بالشكر لكل من يستعمل هذه الخدمة ! ونخص بالثناء جميع من زودونا بملاحظاتهم، وترجماتهم، وأيضا الذين ساهموا في برمجة التطبيق !‏</p>
<p>إليك بعض التحديثات التي نعمل عليها :‏</p>
<ul>
<li>‫لقد أصبحت هذه الصفحة متاحة على بصيغة <strong><a target="_blank" href="/atom.xml">تلقيمات Atom<img src="/assets/img/atom.svg" style="height: 0.8em;"></a></strong>.‬</li>
        <li>كنا نعمل على إنشاء <strong><a target="_blank" href="https://gitlab.com/hagrid-keyserver/hagrid/issues/131">تقنية جديدة لإنعاش المفاتيح</a></strong> تكون أفضل حماية لخصوصية المستخدم.‏</li>
        <li>إن مواصلة <strong>التوطين</strong> تتم بأقصى جهدنا ! نرجو أن تتوفر لغات أخرى في القريب العاجل.‏</li>
    </ul>
<p>‫إذا رغبت في رؤية <span class="brand">keys.openpgp.org</span> مترجما إلى لغتك اﻷم. يُرجى <a target="_blank" href="https://www.transifex.com/otf/hagrid/">الانضمام إلى فريق الترجمة</a> في موقع Transifex. نقدر بالأساس مساعدتك لنا على الترجمة، وخاصة إلى <strong>الروسية</strong> و<strong>اﻹيطالية</strong> و<strong>البولونية</strong> و<strong>الهولندية</strong>.‬</p>
<p>‫هذا ما لدينا من اﻷخبار المُوجَزة. <span style="font-size: x-large;">👍️</span></p>
<hr style="margin-top: 2em; margin-bottom: 2em;">
<h2 id="2019-09-12-three-months-later">
      <div style="float: right; font-size: small; line-height: 2em;">2019-09-12 📅</div>
      <a style="color: black;" href="/about/news#2019-09-12-three-months-later">‫بعد ثلاثة شهور من الخدمة ✨</a>
    </h2>

    <p>‫لقد مضت ثلاثة أشهر الآن منذ <a href="/about/news#2019-06-12-launch">تشغيل</a> موقع <span class="brand">keys.openpgp.org</span>. لذلك، فنحن سعداء بإخبارك أن خدمتنا لاقت نجاحا واسعا ! 🥳</p>
<h4>تبنِّيه في البرامج العميلة</h4>

    <p>‫‫لقد لاقى خادم مفاتيح <span class="brand">keys.openpgp.org</span> إقبالا واسعا من طرف المستخدمين، لذلك تبنَّته عدة برامج عميلة بسرعة. وهو يُستخدَم حاليا بشكل افتراضي في عملاء، مثل <a href="https://gpgtools.org/" target="_blank">GPGTools</a> و<a href="https://enigmail.net/" target="_blank">Enigmail</a> و<a href="https://www.openkeychain.org/" target="_blank">OpenKeychain</a> و<a href="https://github.com/firstlookmedia/gpgsync" target="_blank">GPGSync</a> وأنظمة Debian وNixOS وغيرها.</p>
<p>‫إلى حدود كتابة هذه السطور، تحققنا على ما يزيد عن ‪70 000‬ عنوان للبريد اﻹلكتروني.</p>
<center style="margin-top: 2em; margin-bottom: 2em;">
<img src="/assets/img/stats-addresses-2019-09-12.png" style="padding: 1px; border: 1px solid gray;"><br><span style="font-size: smaller;">إذا لم يكن منحنى واعدا، فلا أدري كيف أقنعك بالعكس :)‏</span>
</center>

    <p>‫كما لا ننسى أن نقدم التهاني الحارة لفريق برنامج GPGTools لنظام تشغيل مَاكْ. لقد نظموا عملية التحديث بطريقة سلسة، مكَّنت التحقق من كم هائل من العناوين اﻹلكترونية، بعد نشرهم التحديث لبرنامجهم.</p>
<h4>كل شيء يسير بخير</h4>

    <p>لا يوجد الكثير مما يتم اﻹبلاغ عنه حول عمليات اشتغال، وما ذاك إلا بالخبر الجيد في هذه الحالة ! فمنذ انطلاق الموقع، لم يحدث أي توقف واحد عن العمل، فقط علة طفيفة حدثت لوقت وجيز أدت إلى بعض التعثرات خلال الرفع. كما أن سعة الاستيعاب بقيت منخفضة.‏</p>
<p>‫إن حجم المواصلات مع خادمنا تُقدَّر حاليا بعشرة طلبات في الثانية (تزيد خلال النهار، وتقلل خلال عطل نهاية اﻷسبوع)، كما أننا أوصلنا ما يقارب‪100 000 ‬ رسالة إلكترونية خلال الشهر الماضي، دون أي مشاكل. </p>
<p>‫لقد أدخلنا بعض التحسينات الطفيفة ذات البعد العملياتي، بما في ذلك تعيين العمل بـ <a href="http://dnsviz.net/d/keys.openpgp.org/dnssec/" target="_blank">DNSSEC</a> وتطبيق <a href="/about/api#rate-limiting" target="_blank">الحد من الصبيب</a>، وإضافة لمسات نهائية على ترويسات <a href="https://developer.mozilla.org/fr/docs/Web/HTTP/CSP">سياسات أمان المحتوى</a>. كما أننا قمنا بتفعيل وضع <a href="https://blog.torproject.org/whats-new-tor-0298" target="_blank">القفزة الوحيدة</a> لأجل خدمة البصلة في تُورْ. هناك لائحة كاملة لكل ذلك <a href="https://gitlab.com/hagrid-keyserver/hagrid/merge_requests?scope=all&amp;utf8=%E2%9C%93&amp;state=merged" target="_blank">هنا</a>.</p>
<h4>‫توصيل الرسائل اﻹلكترونية بأمان عبر MTA-STS‏</h4>

    <p>‫من أهم التحسينات التي يجدر إلقاء الانتباه إليها هو <a href="https://www.hardenize.com/blog/mta-sts">MTA-STS</a>، الذي يُجوِّد من أمان الرسائل اﻹلكترونية الصادرة.</p>
<p>‫على الرغم من سعة انتشار HTTPS عالميا في عصرنا هذا، إلا أن اﻷمر مع اﻷسف لا ينطبق على الرسائل اﻹلكترونية، وذلك لأن عدة خوادم لا تدعم التعمية بالمرة، أو أنها تستخدم شهادات ذاتية التوقيع بدل شهادة مُعترَف بها (كشهادات Let's Encrypt). وبما أن توصيل الرسائل هو ما يهم المستخدمين أكثر من قلة أمانها، فإن العديد من الرسائل ما تزال تُسلَّم دون أي تعمية.</p>
<p>‫بفضل MTA-STS، يمكن أن يحدد المكلفون بالنطاقات (عبر HTTPS) أن خادمهم لعلب الرسائل اﻹلكترونية <em>يدعم</em> التعمية. فعند تعذُّر ربط اتصال آمن مع هذا الصنف من الخوادم، سوف يُؤجَّل إيصال الرسائل، أو قد يُرفَض ذلك، بدل معالجتها بطريقة غير آمنة.</p>
<p>‫هذا اﻷمر في غاية اﻷهمية بالنسبة لخدمة مثل <span class="brand">keys.openpgp.org</span>. إذ لو كانت التعمية غير متينة، فيمكن لأعداء اعتراض رسائل التحقق بكل سهولة. لكن إذا كانت ميزة MTA-STS مُشغَّلة عند مزودي الخدمة، ستكون لديك الثقة بأن توصيل كل رسالة يتم بأمان، نحو الخادم الصحيح لعلب الرسائل اﻹلكترونية.</p>
<p>‫يمكنك <a href="https://aykevl.nl/apps/mta-sts/" target="_blank">القيام بعملية المراقبة</a> للكشف عن دعم خدمة بريدك اﻹلكتروني لميزة MTA-STS. إذا لم يكن اﻷمر كذلك، يُرجى إرسال طلب لرفع مستوى الأمان إلى مزود الخدمة الخاص بك !</p>
<h4>أشغال في طور اﻹنجاز</h4>

    <p>نعمل حاليا على ميزتين :‏</p>
<p>‫أولاها هي <strong>التوطين</strong>. إذ أن غالبية الناس لا يتحدثون اﻹنجليزية، لكنها هي اللغة الوحيدة المدعومة حاليا. ولكي نجعل هذه الخدمة متاحة على نطاق واسع، فنحن نتعاون مع <a href="https://www.opentech.fund/labs/localization-lab/" target="_blank">مختبرات التوطين</a> لمنظمة OTF لجعل كل من الموقع والرسائل المُرسلَة متاحة بالعديد من اللغات اﻷخرى.</p>
<p>‫ثانيها هي إحضار <strong>توقيعات اﻷطراف اﻷخرى</strong>. كما هو <a href="/about/faq#third-party-signatures">مُشار إليه في صفحة اﻷسئلة الشائعة</a>، لكننا لا ندعمها حاليا بسبب الرسائل المزعجة وتفاديا لأي استغلال سيء. الفكرة هي الإجبار على <a href="https://gitlab.com/openpgp-wg/rfc4880bis/merge_requests/20/diffs" target="_blank">التوقيعات المتقاطعة</a>، والتي تسمح لكل مفتاح، الاختيار لذاته توقيعات اﻷشخاص التي يريد توزيعها. على الرغم من هذه المرحلة اﻹضافية، إلا أن هذه العملية متوافقة مع البرامج الموجودة حاليا. كما أنها تتفادى المستخدمين الذين لا يبالون بالتوقيعات.</p>
<p>على الرغم من التقدم في العمل على هاتين الميزتين، إلا أنه لم يُبرمَج تاريخ نشرهما في الوقت الحالي.‏</p>
<p>‫أما ما يتعلق بمشكلة « <tt>no user ID</tt> » (المذكورة في <a href="/about/news#2019-06-12-launch-challenges">منشور آخر الأخبار</a> وصفحتنا <a href="/about/faq#older-gnupg" target="_blank">للأسئلة الشائعة</a>)، فإن Debian تولت توفير تصحيح للمشكل، وأيضا فريق GPGTools لنظام تشغيل مَاكْ. لكن إلى حد الساعة لم يقم فريق GnuPG بدمج ذلك التصحيح في برنامجهم.</p>
<p>‫هذا كل شيء ! نشكرك على حسن اهتمامك. <span style="font-size: x-large;">👋</span></p>
<hr style="margin-top: 2em; margin-bottom: 2em;">
<h2 id="2019-06-12-launch">
      <div style="float: right; font-size: small; line-height: 2em;">2019-06-12 📅</div>
      <a href="/about/news#2019-06-12-launch" style="color: black;">لقد شغَّلنا خادما جديدا للمفاتيح ! 🚀‏</a>
    </h2>

    <p>‫بفضل مجهودات فريق عمل كل من <a href="https://enigmail.net" target="_blank">Enigmail</a> و<a href="https://openkeychain.org" target="_blank">OpenKeychain</a> و<a href="https://sequoia-pgp.org">Sequoia PGP</a>، فنحن مسرورون باﻹعلان عن تشغيل خادم OpenPGP جديد للمفاتيح العمومية <span class="brand">keys.openpgp.org</span> ! مرحى ! 🎉</p>
<h4>أخبرني باختصار !‏</h4>

    <ul>
<li>سريع وموثوق. لا انتظارات ولا أعطال ولا أي تضاربات في البيانات.‏</li>
      <li>دقيق. تظهر نتائج البحث مفتاحا منفردا، مما يُسهِّل عليك العثور عليه.‏</li>
      <li>القدرة على التحقق. لا ينشر الهويات إلا بعد الموافقة على ذلك، بينما يتيح الوصول بكل حرية لبقية المعلومات التي لا ترتبط بالهوية.‏</li>
      <li>قابلية الحذف. يمكن للمستخدمين حذف المعلومات الشخصية فقط بواسطة رسالة تأكيد.‏</li>
      <li>‫مُبرمَج بلغة Rust، بدعم من <a href="https://sequoia-pgp.org" target="_blank">Sequoia PGP</a> - مجاني ومفتوح المصدر، بموجب اﻹصدار الثالث من الرخصة جْنُو أَفِيرُو العمومية AGPLv3.</li>
    </ul>

    يمكنك البدء اﻵن ب<a href="/upload">رفع مفتاحك</a> !‏

    <h4>لِمَ الحاجة إلى خادم جديد للمفاتيح ؟</h4>

    <p>‫لقد أنشأنا <span class="brand">keys.openpgp.org</span> كبديل عن خوادم المفاتيح SKS، والتي تستخدمها حاليا عدة تطبيقات بشكل افتراضي. تواجه شبكة خوادم المفاتيح المُوزَّعة هذه، عدة مشاكل، من بينها <a target="_blank" href="https://medium.com/@mdrahony/are-sks-keyservers-safe-do-we-need-them-7056b495101c">إساءة الاستخدام</a> و<a target="_blank" href="https://en.wikipedia.org/wiki/Key_server_(cryptographic)#Problems_with_keyservers">اﻷداء</a> وكذلك <a href="http://www.openwall.com/lists/oss-security/2017/12/10/1">مشاكل في الخصوصية</a>، ومنذ وقت قريب، مسائل الامتثال لـ<a target="_blank" href="http://nongnu.13855.n7.nabble.com/SKS-apocalypse-mitigation-td228252.html">النظام الأوروبي العام لحماية البيانات</a>. لقد قام Kristian Fiskerstrand بعمل جبار لصيانة شبكة الخوادم لـ<a target="_blank" href="https://blog.sumptuouscapital.com/2016/12/10-year-anniversary-for-sks-keyservers-net/">ما يزيد عن عشر سنوات</a>. لكن إلى هذه اللحظة، يبدو أن أنشطة التطوير قد <a target="_blank" href="https://bitbucket.org/skskeyserver/sks-keyserver/pull-requests/60/clean-build-with-405">شهد أغلبها توقفا</a>.</p>
<p>لذلك، ارتأينا أنه أتى الوقت لكي نقدم منهجية جديدة لحل تلك المشاكل.</p>
<h4>المعلومات الكاشفة وغير الكاشفة للهوية</h4>

    <p>‫إن خادم المفاتيح <span class="brand">keys.openpgp.org</span> يقوم بفصل المعلومات الكاشفة للهوية عن المعلومات غير الكاشفة للهوية في المفاتيح. يمكنك الاطلاع على تفاصيل أكثر في <a href="/about" target="_blank">صفحة « حول »</a> : إن جوهر هذا اﻹجراء هو التوزيع بكل حرية المعلومات التي لا تكشف عن الهوية (المفاتيح، شهادات النقض، وما إلى ذلك)، بينما لا تُوزَّع البيانات الكاشفة عن الهوية إلا بعد الموافقة على ذلك. كما يمكن التراجع عن تلك الموافقة في أي وقت.</p>
<p>حالما ينتهي التحقق من مفتاح موافق لعنوان البريد الإلكتروني، سوف يعوض العنوان السابق. بهذه الطريقة، سوف يكون كل عنوان مرتبطا بمفتاح منفرد على اﻷكثر. كما يمكن أيضا لمالكه حذفه من اللائحة، في أي وقت. لذلك ينفع هذا اﻷمر في العثور على المفاتيح : فلو أن أحدا أجرى بحثا بعنوان البريد الإلكتروني، ثم عثر على مفتاح، فإن هذا يدل على أنه مفتاح منفرد وصالح في الوقت الحالي للعنوان الذي تم به البحث عنه.‏</p>
<h4>‫الدعم في Enigmail و OpenKeychain</h4>

    <p>‫إن خادم المفاتيح <span class="brand">keys.openpgp.org</span> سيتلقى دعما من أطراف أخرى خلال اﻹصدارات القادمة لـ<a href="https://enigmail.net" target="_blank">Enigmail</a> في Thunderbird، وكذا <a href="https://play.google.com/store/apps/details?id=org.sufficientlysecure.keychain&amp;hl=en">OpenKeychain</a> في أندرويد. يعني ذلك، أن مستخدمي هذين التطبيقين سيستفيدون من اكتشاف المفاتيح في أوجز اﻷوقات، بواسطة عنوان البريد الإلكتروني. نتمنى أن يُشكِّل ذلك قوة دافعة لنا لتطوير هذا المشروع، لكي يصبح مبادرة جماعية واسعة اﻵفاق.</p>
<h4 id="2019-06-12-launch-challenges">التحديات الحالية</h4>

    <p>إن تقنيات حماية الخصوصية في خوادم المفاتيح مازالت حديثة. ومع اﻷسف، بسبب فصل معلومات الهوية عن بقية البيانات، مازالت تظهر بعض المشاكل التي تخالف ما كان مُتوافَقا عليه.</p>
<p>‫بالخصوص، حينما يجد GnuPG (الإصدار 2.2.16، إلى حدود كتابة هذه السطور) مفتاح OpenPGP لا يحتوي على أي هوية. إذ يُظهِر الخطأ « no user ID » ولا يواصل معالجة المعلومات الجديدة التي لا تكشف عن الهوية (مثل شهادات النقض)، على الرغم من صلاحية بيانات التعمية. ولهذا، فنحن نعمل بكامل جهدنا لكي نصلح هذه المشاكل.</p>
<h4>في المستقبل</h4>

    <p>‫إن طرق حماية الخصوصية في خوادم المفاتيح مازالت حديثة. كما أن لدينا العديد من اﻷفكار للتقليل من البيانات الوصفية. لكن في الوقت الحالي، نخطط فقط لجعل <span class="brand">keys.openpgp.org</span> أسرع 🐇 وأكثر مصداقية، وكذا تصحيح العلل 🐞 التي نجدها، وأيضا أخد كل <a href="/about#community">الملاحظات</a> التي تصلنا من مجتمع المستخدمين بعين الاعتبار. 👂</p>
<p>للمزيد من التوضيحات، ما عليك سوى الاطلاع على صفحات <a target="_blank" href="/about">حول</a>وصفحات <a target="_blank" href="/about/faq">اﻷسئلة الشائعة</a>. يمكنك البدء حالا عبر <a href="/upload" target="_blank">رفع مفتاحك</a> ! كما يمكنك الاطلاع على أشياء أخرى مفيدة، مثل <a target="_blank" href="/about/api">واجهة برمجتنا للتطبيقات</a> وكذا <a target="_blank" href="/about/faq#tor">خدمة البصلة</a> !‏</p>
<p>شكرا لك !‏
<span style="font-size: x-large;">☕🍵</span></p>
</div>
