<div class="about">
    <center><h2>‫حول | <a href="/about/news">اﻷخبار</a> | <a href="/about/usage">الاستخدام</a> | <a href="/about/faq">اﻷسئلة الشائعة</a> | <a href="/about/stats">اﻹحصاءات</a> | <a href="/about/privacy">حماية البيانات‬</a>
</h2></center>

    <h3>عناوين البريد الإلكتروني المُتحقَّق منها</h3>

    <p>إحصاء بسيط للعدد اﻹجمالي للعناوين اﻹلكترونية التي تم التحقق منها حاليا. 📈</p>

    <p>
      </p>
<center><img src="/about/stats/month.png"></center>
    
    <p>
      </p>
<center><img src="/about/stats/year.png"></center>
    

    <h3>متوسط الحمولة</h3>

    <p>يعبِّر « متوسط الحمولة » عن مستوى اشتغاله. بتعبير أبسط :‏</p>
<ul>
<li>‫المقدار 0.0 يعني أن مضيف <span class="brand">keys.openpgp.org</span> خامل بالكامل‬</li>
        <li>‫المقدار 1.0 يعني أنه مشغول إلى حد ما</li>
        <li>‫أما المقدار 4.0 فما فوق يدل على أنه يشتعل نارا 🔥‬</li>
      </ul>
<p>
      </p>
<center><img src="/about/stats/load_week.png"></center>
    
</div>
